name: Deploy Infrastructure

on:
  push:
    branches: ["**"]
  pull_request:
    branches: ["**"]
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: "us-east-1"

      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v2

      - name: Extract branch name
        shell: bash
        run: echo "BRANCH_NAME=${GITHUB_REF#refs/heads/}" >> $GITHUB_ENV

      - name: Package Check Lambda function
        run: |
          mkdir -p lambda_packages
          cd lambda/check && ./package.sh

      - name: Package Parser Lambda function
        run: |
          cd lambda/parser && ./package.sh

      - name: Terraform Init
        run: |
          cd infra
          terraform init -reconfigure \
            -backend-config="key=terraform/${BRANCH_NAME}/state.tfstate"

      - name: Terraform Apply
        run: |
          cd infra
          terraform apply -var="aws_account_id=${{ secrets.AWS_ACCOUNT_ID }}" -var="mongodb_uri=${{ secrets.MONGODB_URI }}" -var="environment=${BRANCH_NAME}" -auto-approve

      - name: Clean up Lambda packages
        run: |
          rm -rf lambda_packages
