name: Deploy Infrastructure

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: "us-east-1"

      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v2

      - name: Package Check Lambda function
        run: |
          mkdir -p lambda_packages
          cd lambda/check && ./package.sh

      - name: Package Parser Lambda function
        run: |
          cd lambda/parser && ./package.sh

      - name: Package Deno Function Lambda function
        run: |
          cd lambda/deno_function && ./package.sh

      - name: Terraform Init
        run: |
          cd infra
          terraform init

      - name: Terraform Apply
        run: |
          cd infra
          terraform apply -var="aws_account_id=${{ secrets.AWS_ACCOUNT_ID }}" -var="db_connection_string=${{ secrets.DB_CONNECTION_STRING }}" -var="deno_org_id=${{ secrets.DENO_ORG_ID }}" -var="deno_api_key=${{ secrets.DENO_API_KEY }}" -auto-approve

      - name: Clean up Lambda packages
        run: |
          rm -rf lambda_packages
